<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="reactViewEngine" type="Nancy.ViewEngines.React.ReactConfiguration, Nancy.ViewEngines.React" />
  </configSections>
  <reactViewEngine>
    <script dir="script-dir" name="script-name.js">
      <extensions>
        <add name="es" />
        <add name="jsx" />
      </extensions>
    </script>
  </reactViewEngine>
</configuration>
